root { 
	display: block;
}

#main_page {

	-fx-background-color: #fff;
		background-color: #fff;
}

.label {
	-fx-font-size: 12px;
		font-size: 12px;

	-fx-font-weight: bold;
		font-weight: bold;

	-fx-text-fill: #333333;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#image_holder {
	-fx-size: 300px;
		size: 300px;
}

#java_image {
	-fx-image: url(assets/java_logo.png);
}

#welcome_text {
	-fx-font-size: 32px;
		font-size: 32px;

	-fx-font-family: "Arial Black";
		font-family: "Arial Black";


	-fx-fill: #006a94;
		fill: #006a94;
	
}

#username_box {

	-fx-border-color: #000;
		border-color: #000;

	-fx-border-style: solid;
		border-style: solid;

	-fx-border-width: 0px 0px 1px 0px;
		border-width: 0px 0px 1px 0px;

	-fx-background-color: #fff;
		background-color: #fff;

}

#usernameField {
	-fx-background-color: inherit;
		background-color: inherit;

}

#username_image {
	-fx-image: url(assets/user-solid.png)
	/* 
	* LINK TO LICENSE: https://fontawesome.com/license
	*/
}

#password_box {
	-fx-border-color: #000;
		border-color: #000;

	-fx-border-style: solid;
		border-style: solid;

	-fx-border-width: 0px 0px 1px 0px;
		border-width: 0px 0px 1px 0px;

	-fx-background-color: #fff;
		background-color: #fff;
}

#password_image {
	-fx-image: url(assets/lock-solid.png)
	/* 
	* LINK TO LICENSE: https://fontawesome.com/license
	*/

}

#passwordField {
	-fx-background-color: inherit;
		background-color: inherit;
}

#cmdSignIn {
	-fx-background-color: #21a3d5;
		background-color: #21a3d5;

	-fx-font: #fff 'sans-serif';
		font: #fff 'sans-serif';

	-fx-padding: 10px 15px;
		padding: 10px 15px;

}

#actiontarget {
	-fx-fill: #c3223d;
		fill: #c3223d;
		
	-fx-font-weight: bold;
		font-weight: bold;

	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

#cmdSignIn:hover {
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}